<div class='jumbo'>
    <div class='right tomster'></div>
    <h2>Welcome!</h2>
    <p>We hope you find exactly what you're looking for in a place to stay.</p>
    {{#link-to 'about' class='button'}}
        About Us
    {{/link-to}}
</div>

{{#each model as |rental|}}
    <article class="listing">
        <h3>{{rental.title}}</h3>
        <div class="detail owner">
            <span>Owner: </span>{{rental.owner}}
        </div>
        <div class="detail type">
            <span>Type: </span>{{rental.propertyType}}
        </div>
        <div class="detail location">
            <span>Location: </span>{{rental.city}}
        </div>
        <div class="detail bedrooms">
            <span>Number of bedrooms: </span>{{rental.bedrooms}}
        </div>
    </article>
{{/each}}

{{outlet}}